.cartFlex{
    border: 1px solid #000000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}

.cartGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 15px;
    border: 1px solid #000000;
    align-items: center;

}